<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300990281821-7snls4j446777m34gvgglph4qbq1miun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300990281821-7snls4j446777m34gvgglph4qbq1miun</string>
	<key>API_KEY</key>
	<string>AIzaSyDTjWwzY9Zz1JeJCEHw9Aul5I0dKE94lY8</string>
	<key>GCM_SENDER_ID</key>
	<string>300990281821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-3ef19</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-3ef19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300990281821:ios:419ebae2a8cdddc222f5b4</string>
</dict>
</plist>